body 
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.loginSection 
{
    background-color: white; 
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.textfieldArea
{
    width: 100%;
}

.picturesArea
{
    width: 100%;
    height: 100vh;
    background-color: #F2795E;
    position: relative;
}

.dogandcatPhoto
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    z-index: 1;
}

.upperSection{
    width: 50px;
    height: 50px;
    border-radius: 2px;
    z-index: 2;
    position: absolute;
    top: 20px;
    left: 20px;
}

.upperSection .pawImage
{
   object-fit: cover; 
   width: 100%;
   height: 100%;
   border-radius: inherit; 
}
.picturesArea h3
{
    z-index: 10;
    /* font-family: 'Chewy', cursive; */
    font-family: 'Lilita One', sans-serif;
    position: absolute;
    left: 80px;
    color: white;
    top: -2px;
    font-size: 2rem;
}